ASPNETCORE_URLS="http://localhost:8081"
ASPNETCORE_ENVIRONMENT= "Development"
FRONTEND_URL= "http://localhost:5173"
BLAZOR_URL="http://localhost:5032"
CONNECTION_STRING = "server=localhost;user=root;port=3306;Connect Timeout=5; database=booldb"
SECRET_KEY="da86abbfb00fd447d52c9408a0e40fac6b1f4784159c6c7ecc0fc7fd2de74ec1c29fe14c676204673bfbe37e2662e6700ff79bd94f3b22ce8ce0f0a1687c6429"
EXP= 60